body{
    margin:0;
    background-color: lightgoldenrodyellow;
    }
    a {
    color:black;
    text-decoration: none;
    }
    h1 {
    color:black;
    font-size:70px;
    text-align: center;
    border-bottom:5px solid grey;
    margin:0;
    padding:20px;
    }
    ul{
    border-right:5px solid grey;
    width:160px;
    margin:0;
    padding:20px;
    list-style:none;
    }
    .head{
    background-color: black;
    }
    .login{
        padding-right: 10px;
        margin: 0;
        text-align: right;
    }
    .hidden {
        display: none;
    }
    #grid{
        display: grid;
        grid-template-columns: 200px 1fr;
    }
    #grid ol{
        padding-left:33px;
    }
    #grid #article{
        padding-left:25px;
    }
    img {vertical-align: middle;}
    .open{
        border: black 3px solid;
        padding-left: 12px;
    }
    .headline{
        display: inline;
        padding-left: 620px;
        border-bottom: none;
    }
